body {
  background-image: url("http://res.cloudinary.com/jamesriall/image/upload/v1467309731/Forest_dleard.jpg");
  background-size: cover;
  font-family: 'Ubantu', sans-serif;
}

#header {
  background: #515151;
  border: 5px white solid;
  border-radius: 25px;
  text-align: center;
  color: white;
}

#twitch-header {
  font-size: 500%;
  color: #eaeaea;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px white solid;
}

.col-md-2 {
  padding: 10px;
}

.col-md-4 {
  padding: 10px;
}

.col-md-6 {
  padding: 10px;
}

.row {
  background: #515151;
  border: 5px white solid;
  border-radius: 25px;
  margin: 10px;
  font-size: 135%;
}

#offline {
  background: rgba(255, 153, 0, 0.5);
}

#offline:hover {
  background: rgba(255, 153, 0, 0.8);
}

#not-found {
  background: rgba(255, 0, 0, 0.5);
}

#not-found:hover {
  background: rgba(255, 0, 0, 0.8);
}

#online {
  background: rgba(0, 255, 0, 0.5);
}

#online:hover {
  background: rgba(0, 255, 0, 0.8);
}

.user-row {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover a:active a:visited a:link {
  color: inherit;
}

#buttons {
  text-align: center;
}

#row-headings {
  color: #eaeaea;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 2px white solid;
  background: #515151;
  outline-style: none;
  color: #eaeaea;
}

button:hover {
  color: white;
}

#all-button {
  background: green;
}
